<!DOCTYPE html>
<html ng-app='...App'>
	<head>
		<meta charset="UTF-8">
		<script src="angular.min.js"></script>
		<script src="app.js"></script>
		<style>body { font-size: 1.2em; }</style>
		<title>Assignment-xx.md</title>
	</head>

	<body>
		<h1>Assignment-xx.md</h1>

		<div ng-controller='...Controller'>

			<div>
				<input type="text" ng-model="lunchItems" style="width: 321px;" />
				<button ng-click="checkLunchItms();">Check If Too Much</button>
			</div>
			<div>
				{{ ... }}
			</div>
		</div>
	</body>
</html>
